<div class="panel-plugin-host">
  @switch (panel.type) {
    @case ('notifications') {
      <app-notifications-panel [embedded]="true"></app-notifications-panel>
    }

    @case ('agents') {
      <app-agents-panel [embedded]="true"></app-agents-panel>
    }

    @case ('kpi-filter') {
      <app-kpi-filter [embedded]="true"></app-kpi-filter>
    }

    @case ('scenario') {
      <app-scenario-panel></app-scenario-panel>
    }

    @case ('recommendations') {
      <app-recommendations-panel></app-recommendations-panel>
    }

    @case ('impact') {
      <app-impact-panel></app-impact-panel>
    }

    @default {
      <div class="panel-plugin-host__placeholder">
        <div class="panel-plugin-host__label">Plugin host</div>
        <div class="panel-plugin-host__type">{{ panel.type }}</div>
        <div class="panel-plugin-host__hint">
          No plugin component has been mapped for this panel type yet.
        </div>
      </div>
    }
  }
</div>
